[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
django-storages = {extras = ["s3"], version = "*"}
djangorestframework = "*"
django-filter = "*"

[dev-packages]
django-debug-toolbar = "*"
requests = "*"

[requires]
python_version = "3.12"
